<!DOCTYPE html>
{% extends 'institute/base.html' %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form method="post" class="jumbotron">{%csrf_token%}
                <h3>Edit job details</h3>
                {{form.as_p}}
                <input type="submit" value="update" class="btn btn-primary btn-lg">
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}